/* =====================================================================================
   SIDEBAR
===================================================================================== */
section[data-testid="stSidebar"] {
    background: #dcdfe6 !important;
    border-right: 1px solid #cbd5e1;
}


/* =====================================================================================
   NAVBAR
===================================================================================== */
header[data-testid="stHeader"] {
    background: #d0d6df !important;
    border-bottom: 1px solid #cbd5e1;
}


/* =====================================================================================
   MAIN BACKGROUND
===================================================================================== */
[data-testid="stAppViewContainer"] {
    background: #f8fafc !important;
}


/* =====================================================================================
   FOOTER
===================================================================================== */
[data-testid="stBottomBlockContainer"] {
    background: #c6cdd8 !important;
    border-top: 1px solid #cbd5e1;
}


/* =====================================================================================
   BUTTON STYLE
===================================================================================== */
/* Default button appearance */
.stButton button {
    background: #b8c1cc !important;
    border: 1px solid #cbd5e1;
}

/* Default button hover state styling */
.stButton button:hover {
    background: #a8b3bf !important;
    border: 1px solid #cbd5e1;
}


/* =====================================================================================
   HIGHLIGHT CHAT INPUT WHEN FOCUSED
===================================================================================== */
[data-testid="stChatInput"]:focus-within {
    box-shadow: 0 0 0 2px #222d40 !important;
}


/* =====================================================================================
   USER CHAT MESSAGE BACKGROUND
===================================================================================== */
[data-testid="stChatMessage"]:has([data-testid="stChatMessageAvatarUser"]) {
    background: #dcdfe6 !important;
}


/* =====================================================================================
   BOT CHAT MESSAGE BACKGROUND
===================================================================================== */
[data-testid="stChatMessage"]:has([data-testid="stChatMessageAvatarAssistant"]) {
    background: #f5f7fa !important;
}