/* =====================================================================================
   SIDEBAR
===================================================================================== */
section[data-testid="stSidebar"] {
    background: #dcdfe6 !important;
    border-right: 1px solid #d7dee8;
}


/* =====================================================================================
   NAVBAR
===================================================================================== */
header[data-testid="stHeader"] {
    background: #ced0d4 !important;
    border-bottom: 1px solid #d7dee8;
}


/* =====================================================================================
   MAIN BACKGROUND
===================================================================================== */
[data-testid="stAppViewContainer"] {
    background: #ffffff !important;
}


/* =====================================================================================
   FOOTER
===================================================================================== */
[data-testid="stBottomBlockContainer"] {
    background: #b9bbbe !important;
    border-bottom: 1px solid #d7dee8;
}


/* =====================================================================================
   BUTTON STYLE
===================================================================================== */
/* Default button appearance */
.stButton button {
    background: #f0f4ff !important;
    border: 1px solid #cbd5e1;
}

/* Default button hover state styling */
.stButton button:hover {
    background: #c7d0db !important;
    border: 1px solid #cbd5e1;
}

/* New-Chat button appearance */
[data-testid="stVerticalBlock"]:has(.new-chat-anchor)
> div:nth-of-type(2) button {
    background-color: #a8b3bf !important;
}

/* New-Chat button hover state styling */
[data-testid="stVerticalBlock"]:has(.new-chat-anchor)
> div:nth-of-type(2) button:hover {
    background-color: #a8b3bf !important;
}


/* =====================================================================================
   HIGHLIGHT CHAT INPUT WHEN FOCUSED
===================================================================================== */
[data-testid="stChatInput"]:focus-within {
    box-shadow: 0 0 0 2px #222d40 !important;
}


/* =====================================================================================
   USER CHAT MESSAGE BACKGROUND
===================================================================================== */
[data-testid="stChatMessage"]:has([data-testid="stChatMessageAvatarUser"]) {
    background: #a8b3bf !important;
}


/* =====================================================================================
   BOT CHAT MESSAGE BACKGROUND
===================================================================================== */
[data-testid="stChatMessage"]:has([data-testid="stChatMessageAvatarAssistant"]) {
    background: #f5f7fa !important;
}